<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Visertäjä</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body style="background-color: yellow">
        <br/>
        <div style="font-family: monospace; text-align: center">
            <br/>
            <span th:text="${info}">info</span>
            <a th:href="@{{href}(href=${linkki})}"><p>Palaa takaisin</p></a>
        </div>
    </body>
</html>
